* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #ecf0f3;
}

header {
  background-image: url(/images/35844491.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  display: flex;
  justify-content: center;
}

.header-bg {
  width: 1305px;
  height: 240px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-info {
    width: 1245px;
    height: 200px;
    display: flex;
}

.profile-picture {
  height: 200px;
  width: 200px;
  position: relative;
  top: -80px;
  border-radius: 10px;
  border: 5px solid #ecf0f3;
}

.name {
    border: 2px solid transparent;
    border-right-color: #e0e2e3;
    padding: 20px 30px 0 30px;
    /* width: 500px; */
}

.name h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: #3c3e41;
}

.name p {
    font-family: 'Poppins', sans-serif;
    color: #696f79;
    font-size: 18px;
    padding-top: 10px;
}

.info {
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
}

.text-pos {
    display: flex;
}

.social-media-icons {
    display: flex;
    padding-top: 20px;
}

nav {
    width: 220px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    position: sticky;
    top: 10px;
}

main {
    display: flex;
    justify-content: center;
    position: relative;
    top: 170px;

}

.main-section {
    width: 1305px;
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 220px;
    height: 600px;
}

.menu div {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu button {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color:#3c3e41;
    height: 90px;
    width: 180px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu button:hover {
    background-color: #ff014f;
    color: white;
    border-radius: 10px;
}

#button-live {
    background-color: #ff014f;
    color: white;
    border-radius: 10px;
}

.content-bg {
    width: 1045px;
    height: 800px;
    background-color: white;
    border-radius: 10px;
}

.content-profile {
    padding: 50px 80px;

}

.content-profile h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    text-decoration: underline;
    letter-spacing: 1px;
    padding-bottom: 25px;
    color: #3c3e41;
}

.content-profile p {
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #3c3e41;
    padding-bottom: 30px;
}

.content-profile div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.content-profile button {
    border:2px solid #a8aaae;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color:#3c3e41;
    height: 90px;
    width: 180px;
    background-color: transparent;
    cursor: pointer;
}

.content-profile button:hover {
    background-color: #ff014f;
    color: white;
    border: none;
}

.content-profile img {
    width: 300px;
    padding-top: 50px;
}

footer {
    font-family: 'Poppins', sans-serif;
    color: #696f79;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    position: relative;
    top: 150px;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img {
    width: 100px;
    border-radius: 50%;
    padding: 20px;
}


.content-work {
    padding: 30px 80px;
}

.content-work h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    text-decoration: underline;
    letter-spacing: 1px;
    padding-bottom: 25px;
    color: #3c3e41;
    text-align: center;
}

.content-work ul {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;

    padding-bottom: 30px;
    font-weight: bold;
}

.content-work div {
    display: flex;
}

.resize {
    display: flex;
}

.cards {
    color: #3c3e41;
    border: 2px solid #a8aaae;
    border-radius: 10px;
}

.cards:hover {
    background-color: #ff014f;
    color: white;
    border: none;
}